<div class="admin-container">

  <!-- SIDEBAR -->

  <aside class="sidebar">

    <div class="logo-area">

      <h2>
        Mandalas
      </h2>

      <span>
        Admin
      </span>

    </div>


    <!-- MENU -->

    <nav class="menu">

      <a routerLink="/admin"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">

        📊 Dashboard

      </a>

      <a routerLink="/admin/produtos"
         routerLinkActive="active">

        🎨 Produtos

      </a>
      <a routerLink="/admin/pedidos"
         routerLinkActive="active">

        <i class="bi bi-folder2-open"></i> Pedidos

      </a>
      <a routerLink="/admin/listacategoria"
         routerLinkActive="active">

        <i class="bi bi-folder2-open"></i> Categorias

      </a>
      <a routerLink="/admin/listatema"
         routerLinkActive="active">

        <i class="bi bi-stars"></i> Temas

      </a>
    </nav>

  </aside>


  <!-- CONTENT -->

  <main class="content">

    <router-outlet></router-outlet>

  </main>

</div>
