<div class="form-page">

  <div class="form-header">
    <div>
      <p class="section-small">Administração</p>

      <h1 class="section-title">
        {{ editMode ? 'Editar Mandala' : 'Nova Mandala' }}
      </h1>
    </div>

    <a routerLink="/admin/produtos" class="btn-outline-soft">
      Voltar
    </a>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">

    <div class="row g-4">

      <div class="col-lg-8">

        <div class="form-card">

          <div class="mb-3">
            <label>Nome</label>
            <input class="form-control input-soft" formControlName="nome">
          </div>

          <div class="mb-3">
            <label>Descrição</label>
            <textarea rows="5" class="form-control input-soft" formControlName="descricao"></textarea>
          </div>

          <div class="row">

            <div class="col-md-6 mb-3">
              <label>Categoria</label>
              <select id="categoriaId"
                      class="form-select"
                      formControlName="categoriaId">

                <option value="">
                  Selecione uma categoria
                </option>

                @for (categoria of categorias(); track categoria.id) {

                <option [value]="categoria.id">
                  {{ categoria.categoria_Nome }}
                </option>

                }

              </select>
            </div>

            <div class="col-md-3 mb-3">
              <label>Preço</label>
              <input type="text"
                     formControlName="preco"
                     mask="separator.2"
                     thousandSeparator="."
                     decimalMarker=","
                     class="form-control input-soft">
            </div>

            <div class="col-md-3 mb-3">
              <label>Estoque</label>
              <input type="number" class="form-control input-soft" formControlName="estoque">
            </div>

          </div>
          <div class="row">

            <div class="col-md-6 mb-3">
              <label>Altura</label>
              <input type="text"
                     formControlName="altura"
                     mask="separator.0"
                     thousandSeparator="."
                     decimalMarker=","
                     class="form-control input-soft">

            </div>

            <div class="col-md-3 mb-3">
              <label>largura</label>
              <input type="text"
                     formControlName="largura"
                     mask="separator.0"
                     thousandSeparator="."
                     decimalMarker=","
                     class="form-control input-soft">

            </div>

            <div class="col-md-3 mb-3">
              <label>Peso</label>
              <input type="text"
                     formControlName="peso"
                     mask="separator.3"
                     thousandSeparator="."
                     decimalMarker=","
                     class="form-control input-soft">
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Tema</label>
              <select id="temaId"
                      class="form-select"
                      formControlName="temaId">

                <option value="">
                  Selecione uma categoria
                </option>

                @for (tema of temas(); track tema.id) {

                <option [value]="tema.id">
                  {{ tema.tema_Nome }}
                </option>

                }

              </select>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-check mt-3">
                <input type="checkbox" class="form-check-input" formControlName="ativo">
                <label class="form-check-label">
                  Produto ativo
                </label>
              </div>
             </div>
           </div>
          </div>

        </div>

      <div class="col-lg-4">

        <div class="form-card">

          <h3>Imagem da Mandala</h3>

          <div class="image-preview" *ngIf="previewImage">
            <img [src]="previewImage">
          </div>

          <label class="upload-box">
            <div class="upload-container"
                 (dragover)="onDragOver($event)"
                 (drop)="onDrop($event)">

              <!-- PREVIEW -->

              <div class="image-preview"
                   *ngIf="previewImage">

                <img [src]="getImageUrl()">

                <div class="image-overlay">

                  <button type="button"
                          class="overlay-btn"
                          (click)="removeImage()">

                    Remover

                  </button>

                </div>

              </div>


              <!-- EMPTY -->

              <label class="upload-box"
                     *ngIf="!previewImage">

                <input type="file"
                       hidden
                       accept="image/*"
                       capture="environment"
                       (change)="onFileSelected($event)">

                <div class="upload-content">

                  <div class="camera-icon">

                    📷

                  </div>

                  <h4>
                    Envie uma imagem
                  </h4>

                  <p>
                    Clique, arraste ou use a câmera
                  </p>

                </div>

              </label>

            </div>
          </label>

          <button type="button"
                  class="btn-camera"
                  (click)="startCamera()">
            Usar câmera
          </button>

          <div class="camera-box" *ngIf="cameraActive">

            <video #video
                   autoplay
                   playsinline>
            </video>

            <button type="button"
                    class="btn-capture"
                    (click)="capturePhoto()">
              Capturar Foto
            </button>

            <button type="button"
                    class="btn-cancel"
                    (click)="stopCamera()">
              Cancelar
            </button>

          </div>

          <canvas #canvas hidden></canvas>

          <button type="submit"
                  class="btn-save"
                  [disabled]="loading">

            {{ loading ? 'Salvando...' : 'Salvar Produto' }}

          </button>

        </div>

      </div>

    </div>

  </form>

</div>
