


:root {
  --primary: #7b8d74;
  --primary-soft: #aab7a2;
  --rose: #d8b7ae;
  --cream: #f6f2ed;
  --surface: #ffffff;
  --gold: #b89b72;
  --text: #4a4a4a;
  --shadow: 0 8px 30px rgba(0,0,0,0.04);
}




body {
  background: var(--cream);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}


/* =========================
   TITULOS
========================= */

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  color: #5e6659;
}


/* =========================
   BOTÕES
========================= */

.btn-mandala {
  background: white;
  color: var(--text);
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 40px;
  padding: 12px 28px;
  transition: background 0.3s ease, transform 0.3s ease;
}

  .btn-mandala:hover {
    background: var(--cream);
    transform: translateY(-1px);
  }



/* =========================
   LINKS
========================= */

a {
  text-decoration: none;
  color: inherit;
}
/* =========================
   CARD
========================= */

.card-mandala {
  background: #fff;
  border-radius: 28px;
  overflow: hidden;
  transition: .3s ease;
  box-shadow: 0 4px 18px rgba(0,0,0,.06);
  height: 100%;
}

  .card-mandala:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,.12);
  }

/* =========================
   IMAGEM
========================= */

.img-mandala {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: .4s;
}

.card-mandala:hover .img-mandala {
  transform: scale(1.03);
}

/* =========================
   TITULOS
========================= */

.mandala-category {
  color: #82936b;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mandala-title {
  font-size: 2rem;
  font-weight: 400;
  color: #2f2f2f;
}

.mandala-price {
  color: #7b9258;
  font-size: 1.6rem;
  font-weight: bold;
}

/* =========================
   BOTÕES
========================= */

.btn-outline-mandala {
  border: 2px solid #7b9258;
  color: #7b9258;
  border-radius: 18px;
  padding: 14px;
  font-weight: 600;
  transition: .3s;
}

  .btn-outline-mandala:hover {
    background: #7b9258;
    color: white;
  }

.btn-cart {
  background: #7b9258;
  color: white;
  border: none;
  width: 65px;
  border-radius: 18px;
  transition: .3s;
}

  .btn-cart:hover {
    transform: scale(1.05);
    opacity: .95;
  }
.toast-container {
  z-index: 999999 !important;
}
.add-feedback {
  background: #e8f5e9;
  color: #2e7d32;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  display: flex;
  position:absolute;
  align-items: center;
  gap: 8px;
  animation: fadeIn .3s ease;
  z-index:9999;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
