<section class="cart-page">

  <div class="container">

    <div class="cart-header">

      <p class="section-small">
        Sua Seleção
      </p>

      <h1 class="section-title">
        Carrinho
      </h1>

    </div>

    <div class="row g-5">

      <!-- PRODUTOS -->
      <div class="col-lg-8">

        <!-- ITEM -->
        <div class="cart-item">

          <img src="https://images.unsplash.com/photo-1515405295579-ba7b45403062?q=80&w=1200"
               class="cart-image">

          <div class="cart-content">

            <p class="cart-category">
              Coleção Harmonia
            </p>

            <h3>
              Mandala Aurora
            </h3>

            <p class="cart-description">

              Produção artesanal
              premium em madeira.

            </p>

            <div class="quantity-control">

              <button>-</button>

              <span>1</span>

              <button>+</button>

            </div>

          </div>

          <div class="cart-price">

            R$ 289,00

          </div>

        </div>


        <!-- ITEM -->
        <div class="cart-item">

          <img src="https://images.unsplash.com/photo-1494526585095-c41746248156?q=80&w=1200"
               class="cart-image">

          <div class="cart-content">

            <p class="cart-category">
              Coleção Essence
            </p>

            <h3>
              Mandala Essence
            </h3>

            <p class="cart-description">

              Acabamento artesanal
              sofisticado.

            </p>

            <div class="quantity-control">

              <button>-</button>

              <span>1</span>

              <button>+</button>

            </div>

          </div>

          <div class="cart-price">

            R$ 349,00

          </div>

        </div>

      </div>


      <!-- RESUMO -->
      <div class="col-lg-4">

        <div class="summary-card">

          <h3>
            Resumo
          </h3>

          <div class="summary-line">

            <span>Subtotal</span>

            <span>R$ 638,00</span>

          </div>

          <div class="summary-line">

            <span>Frete</span>

            <span>R$ 29,00</span>

          </div>

          <div class="summary-line total">

            <span>Total</span>

            <span>R$ 667,00</span>

          </div>

          <!-- CUPOM -->
          <div class="coupon-box">

            <input type="text"
                   placeholder="Cupom de desconto">

            <button class="btn-mandala">
              Aplicar
            </button>

          </div>

          <!-- FINALIZAR -->
          <button class="checkout-btn" routerLink="/checkout" >

            Finalizar Compra

          </button>

        </div>

      </div>

    </div>

  </div>

</section>
