<section class="cart-page">

  <div class="container">

    <div class="cart-header">

      <p class="section-small">
        Sua Seleção
      </p>

      <h1 class="section-title">
        Carrinho
      </h1>

    </div>

    <div class="row g-5">

      <!-- PRODUTOS -->
      <div class="col-lg-7">


        <!-- ITEM -->
        <div class="cart-item"
             *ngFor="let item of items">

          <img [src]="apiUrl + item.imagemUrl"
               width="100"
               class="cart-image">

          <div class="cart-content">

            <p class="cart-category">
              {{ item.categoria }}
            </p>

            <h3>
              {{ item.nome }}

            </h3>

            <p class="cart-description">

              {{ item.descricao }}

            </p>
            <div class="cart-price">

              {{ item.valor | currency:'R$ ' }}
            </div>

            <div class="quantity-control">

              <button (click)="Qtde(item.id,-1)">-</button>

              <span> {{ item.quantidade }}</span>

              <button (click)="Qtde(item.id,1)">+</button>

            </div>

          </div>

        </div>


      </div>



      <!-- RESUMO -->
      <div class="col-lg-5">

        <div class="summary-card">

          <h3>
            Resumo
          </h3>

          <div class="summary-line">

            <span>Subtotal</span>

            <span> {{ total | currency:'R$ ' }}</span>

          </div>

          <div class="summary-line">

            <span>Frete</span>

            <span>{{ frete | currency:'R$ ' }}</span>

          </div>

          <div class="summary-line total">

            <span>Total</span>

            <span> {{ totalcompra | currency:'R$ ' }}</span>

          </div>

          <!-- CUPOM -->
          <div class="coupon-box">

            <input type="text"
                   placeholder="Cupom de desconto">

            <button class="btn-mandala">
              Aplicar
            </button>

          </div>

          <!-- FINALIZAR -->
          <button class="checkout-btn" routerLink="/checkout">

            Finalizar Compra

          </button>

        </div>

      </div>

    </div>
  </div>


</section>
